<h1> Job List </h1>


 
 <%= will_paginate %>
<table class="table table-striped">

  <thead>
  <tr>
      <th scope="col">#</th>
      <th scope="col">Job Name</th>
      <th scope="col">Model Name</th>
      <th scope="col">File Name</th>
      <th scope="col">Created</th>
      <th scope="col">Delete</th>
      
    </tr>
     
  </thead> 

  <tbody>
  
  <ul class="filejob">
    <%= render @filejobs %>
  </ul>

    </tbody>
   
</table>
<%= will_paginate %>